{{>header}}
<h1>Create New Offer</h1>
<p class="message"></p>
<form action="#/create" method="POST">
    <div>
        <input type="text" name="offerName" placeholder="Name...">
    </div>
    <div>
        <input type="text" name="offerPrice" placeholder="Price...">
    </div>
    <div>
        <input type="text" name="offerUrl" placeholder="Image url...">
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..."></textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand...">
    </div>
    <div>
        <button>Create</button>
    </div>
</form>
{{>footer}}